{% extends 'base.html.twig' %}

{% block body %}
<style>
body{
    background-image:url('/img/r.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position-y:-750px;
}
section{
    margin-left:20%;
    margin-right:20%;
    color:white;
}
form{
    background:rgba(128,128,128,0.685);
    height:200px;
    width:400px;
    padding:25px;
    padding-top:40px;
    padding-left:40px;

}
input{
    border:none;
    outline:none;
    background:transparent;
    border-bottom: solid 1px white;
    color:white;
}
button{
    border:none;
   height:38px;
    font-size:20px;
    margin:10px;
    border-radius:5px;
    background:#007bff;
    color:white;
}
label{
    width:100px;
}
form a{
  float:right;
  margin-top:-48px;
  background:black;
  color:grey;
}
</style>


{% if error %}
<div class="alert alert-danger">
<ul class="list-unstyled mb-0">
<li><span class="initialism form-error-icon badge badge-danger">Error</span>
<span class="form-error-message">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
</li>
</ul>
</div>
{% endif %}
<section class="container">
<div class="row fullscreen d-flex align-items-center justify-content-center">
          {{form_start(form)}}
          {{form_widget(form)}}
          <a href="{{path('inscrire')}}" class="btn">S'Inscrire</a>
          {{form_end(form)}}
        </div>

</section>


{% endblock %}
