

{% extends 'layoutform.html.twig' %}

{% block body %}
  
        
  {% block flash %}
            {% for flash_message in app.session.flashbag.get('success') %}
                <div class="container alert alert-success" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('info') %}
                <div class="container alert alert-info" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('warning') %}
                <div class="container alert alert-warning" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('danger') %}
                <div class="container alert alert-danger" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
        {% endblock %}

            {{form(form)}}
            <br>
           <button class="btn">S'inscrire comme <a href="/register/2">patient </a>|  <a href="/register/1">medecin </a> |  <a href="/register/3">pharmacien </a>
                   <span class="badge badge-success"></span>
            </button>
{% endblock %}