{% extends 'layoutadmin.html.twig' %}


    {% block content %}

{% for prvs in prv %}
    <table>
        <tr>
            <td>
                {{ prvs.nomComplet }}
            </td>
             <td>
                {{ prvs.telephone }}
            </td>
             <td>
                {{ prvs.adresseMail }}
            </td>
             <td>
                {{ prvs.datenaiss|date('Y-m-d') }}
            </td>
             <td>
                {{ prvs.daterv|date('Y-m-d') }}
            </td>
             <td>
                {{ prvs.motif }}
            </td>
            <td>
                <a href="/">details</a>
                <a href="/">suprimer</a>
            </td>
        </tr>
    </table>

{% endfor %}




					
{% endblock %}