{% extends 'layoutadmin.html.twig' %}


    {% block content %}
  <table class="table table-striped table-hover" id="datatable3" cellspacing="0" width="100%">
                    <thead>

<th>Nomcomplet</th>
<th>Téléphone</th>
<th>Mail</th>
<th>DateNais</th>
<th>Date Rdv</th>
<th>Motif</th>
<th>Details</th>

</tr>
</thead>

<tfoot>


<th>Nomcomplet</th>
<th>Téléphone</th>
<th>Mail</th>
<th>DateNais</th>
<th>Date Rdv</th>
<th>Heure</th>
<th>Motif</th>
<th>Details</th>

</tfoot>

<tbody>
{% for prvs in prv %}
        <tr>
            <td>
                {{ prvs.nomComplet }}
            </td>
             <td>
                {{ prvs.telephone }}
            </td>
             <td>
                {{ prvs.adresseMail }}
            </td>
             <td>
                {{ prvs.datenaiss|date('Y-m-d') }}
            </td>
             <td>
                {{ prvs.daterv|date('Y-m-d') }}
            </td> <td>
                {{ prvs.heure }}
            </td>
             <td>
                {{ prvs.motif }}
            </td>
           
            <td>
                <a href="/">details</a>
                <a href="/">suprimer</a>
            </td>
        </tr>

{% endfor %}


</tbody>
</table>
					
{% endblock %}